*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container{
  width: 50%;
  margin: 2rem auto;
  background: #FFFFFF;
  padding: 1rem;
  border: 2px solid #FCFCFC;
  box-shadow: 2px 5px #E5E5E5; 
  border-radius: 5px;
}
.form-wrapper{
width: 100%;
}
.select-container{
  width: 100%;
  height: 2.5rem;
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  border: 1px solid #FCFCFC; 
  padding: 0.5rem 1rem 1.5rem 1rem;
  margin-bottom: 1rem;
  border-radius: 3px;
  box-shadow: 2px 5px #E5E5E5;
}
.arrow {
  border: solid rgb(126, 119, 119);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.store-text{
  display: flex;
  gap: 0.8rem;
}
#select-option{
  font-weight: 200;
}
.store-text.fa-store{
  font-weight: 200;
  font-size: 50px;
}
.adult-children-container{
  display: flex;
  justify-content: space-between;
  gap: 2.5em;
  width: 100%;
  margin-bottom: 1rem;
}
.adult-children-container p{
  padding-bottom: 1rem;
}
.btn{
  position: relative;
  width: 18rem;
  height: 2.5rem;
  border: none;
  border-radius: 3px;
  background: #E8ECEF;
  box-shadow: 2px 5px #E5E5E5;
}
.add-sub-btn{
  position: absolute;
  padding-top: 1rem;
  border-radius: 3px;
  width: 2rem;
  height: 2.5rem;
  background: #F6F7F9;
  color: #E8ECEF;
  
}
.minus-btn{
  left: 0;
  bottom: 0;
}
.plus-btn{
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}

.date-time-container{
  display: flex;
  justify-content: space-between;
  gap: 2.5em;
}
.date-container, .time-wrapper{
  display: flex;
  flex-direction: column;
}
.date-time{
  width: 18rem;
  height: 2.3rem;
  border: none ;
  border-radius: 3px;
  margin: 1rem 0;
  background-color: #E8ECEF;
  color: #59555A;
  box-shadow: 2px 5px #E5E5E5;
}
.date-input{
  font-size: 1.5rem;
  padding: 0 1rem;
}
.time-input{
  font-size: 1.4rem;
  padding: 0 1rem;
}
.date-time h5{
  font-size: 1.2rem;
}

.submit-div{
  display: flex;
  justify-content: center;
  align-self: center;
  margin: 1rem 0;
}
.submit-btn{
  width: 100%;
  height: 2.5rem;
  border: none;
  border-radius: 5px;
  background-color: #7B7E83;
  color: #F2FFFF;
  box-shadow: #F0F0F0;
}


